* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(../assets/backgroundPW.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPW {
    display: flex;
    position: relative;
    padding: 80px;
    width: 400px;
    height: 450px;
    background: transparent;
    justify-content: center;
    border: 2px solid aliceblue;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    align-items: center;
}

#h1 {
    position: absolute;
    top: 50px;
    font-size: 50px;
    font-family: Comic Sans MS;
    color: aliceblue;
}

.redesSocial {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.links {
    padding: 0 0 0 20px;
    
    color: aliceblue;
    /* font-size: 2em; */
    text-decoration: none;
    font-family: Comic Sans MS;
}

.links:hover {
    color: aqua;
}

#button {
    position: absolute;
    bottom: 90px;
    height: 40px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: black;
    font-family: Comic Sans MS;
    background-color: aliceblue;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

#button:hover {
    color: black;
    background-color: aqua;
}